.container {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  mat-form-field {
    width: 100%;
  }
  h2 {
    font-size: 40px;
    color: #2A3842;
    font-weight: normal;
  }
  button {
    float: left;
  }
  span {
    float: right;
    line-height: 35px;
  }
}