<div class="container">
  <h2>Log In</h2>
  <div>
    <mat-form-field>
      <input type="email"
             placeholder="Email"
             matInput
             email="true"
             required
             name="emailField"
             id="emailField"
             [(ngModel)]="email">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input type="password"
             placeholder="Password"
             matInput
             required
             name="passwordField"
             id="passwordField"
             [(ngModel)]="password">
    </mat-form-field>
  </div>
  <div>
    <button mat-flat-button color="primary" type="submit">LOG IN</button>
    <span>Don't have an account? <a routerLink="/register">Create an account</a></span>
  </div>
</div>